@(review: Review)

<div class="col-xs-12 col-md-6">
    <div class="review">
        <div class="title">
            @Html(review.getTitle)
        </div>
        <div class="body">
            @Html(review.getContent)
        </div>
        <div class="actions">
            <div class="date">
                @review.reviewDate.toString &bull; <a href="@review.permalink">Link <span class="glyphicon glyphicon-share"></span></a>
            </div>

            <img width="20" src="@routes.Assets.versioned("images/loading.png")" alt="" />
            <form class="form-inline">
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="0" /> Past
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="1" checked="checked"/> Present
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="2" /> Future
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="3" /> Not an argument
                    </label>
                </div>
            </form>
            <button type="button" class="btn btn-default btn-send"
                data-permalink="@review.permalink" data-id="@review.getID">Send</button>
        </div>
    </div>
</div>