@(app: AndroidApp)

<ul class="information">
    <li>
        <h4>Rating</h4>
        @for(i <- 1 to app.getScore) {
            <img height="15" src="@routes.Assets.versioned("images/icons/star.png")" alt="" />
        }
    </li>
    <li>
        <h4>Version</h4>
        @app.getMinOS
    </li>
    <li>
        <h4>Publication</h4>
        @app.getPublicationDate
    </li>
    <li>
        <h4>Category</h4>
        @app.getCategory.getTitle
    </li>
    <li>
        <h4>Price</h4>
        @if(app.isFree) {
            Free
        } else {
            @app.getPrice
        }
    </li>
    <li class="visible-xs-inline-block">
        <a href="https://play.google.com/store/apps/details?id=@app.getAppID">
            <img alt="Get it on Google Play"
            src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
    </li>
</ul>
<ul class="information">
    <li>
        <h4>Installations</h4>
        @app.getInstallations
    </li>
    <li>
        <h4>Developer</h4>
        @app.getDeveloper
    </li>
    <li class="pull-right hidden-xs">
        <a href="https://play.google.com/store/apps/details?id=@app.getAppID" target="_blank">
            <img alt="Get it on Google Play"
            src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
        </a>
    </li>
</ul>

<hr />

<p>
@app.getDescription
</p>