@(app: AndroidApp, titles: Map[Integer, List[String]])

<div class="app-information" data-id="@app.getAppID">
    <table>
        <tr>
            <td class="logo" rowspan="2="><img src="@app.getImage" alt="Logo" /></td>
            <td class="name" colspan="2"><a href="@routes.Application.details(app.getAppID)">@app.getName</a></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li class="developer">@app.getDeveloper</li>
                    <li class="rating">
                    @for(i <- 1 to app.getScore) {
                        <img src="@routes.Assets.versioned("images/icons/star.png")" alt="" />
                    }
                    </li>
                    <li style="margin-top: 5px;">
                        <a href="https://play.google.com/store/apps/details?id=@app.getAppID" class="btn btn-success">Install</a>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="details">
                    <li>@app.getInstallations installations</li>
                    <li>Minimum version required: <strong>@app.getMinOS</strong></li>
                    <li>Publication date: <strong>@app.getPublicationDate.toString</strong></li>
                    <li>
                    @if(app.isFree) {
                        <strong>Free</strong>
                    } else {
                        @app.getPrice
                    }
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    @* Values and title of the different topics for the application *@
    <div class="data">
        @for((id, value) <- app.getMappedOpinions) {
            <span data-topic="@id" data-title="@titles.get(id).head" data-value="@value.percentage"></span>
        }
    </div>
</div>