@(app: AndroidApp, webpage: WebPage)

<li>
    <div class="search-app">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img height="40" class="media-object" src="@app.getImage" alt="LOGO" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="@routes.Application.details(app.getAppID)">@app.getName</a></h4>
            </div>
        </div>
        <ul class="opinions">
            @for((opinion, index) <- app.getOpinions.take(3).zipWithIndex) {
                <li @if(index > 1) {class="hidden-xs"}>
                    <div data-value="@opinion.percentage()"
                    data-title="@webpage.getTopics.getTitle(opinion.getTopicID)" class="chart-gauge"></div>
                </li>
            }
        </ul>
        <div class="description" style="display: none;">
            @String.format("%1.130s", app.getDescription) ...
        </div>
    </div>
</li>