@(app: AndroidApp)

<div class="body-app col-xs-12 col-md-4">

    <div class="media">
        <div class="media-left">
            <a href="">
                <img width="100" src="@app.getImage" alt="Logo" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="@routes.Application.details(app.getAppID)">@app.getName</a></h4>

            @views.html.icons.icons(app.getCategory)
            @for(i <- 1 to app.getScore) {
                <img src="@routes.Assets.versioned("images/icons/star.png")" alt="" />
            }

            <hr />
            @if(app.isFree) {<strong>Free</strong>} else {Payante} &bull; version <strong>@app.getMinOS</strong> <br />
            Installations: @app.getInstallations
        </div>
    </div>
</div>