@(app: AndroidApp, webpage: WebPage)

@import constants.Utils

<div class="body-app">

    <a href="@routes.Application.details(app.getAppID)">
        @defining(app.getRandomScreen(400)) { screenshot =>
            <div class="header" style="background-image: url('@screenshot')"></div>
        }
    </a>

    <div class="body">
        <h6><a href="@routes.Application.details(app.getAppID)">@app.getName</a></h6>
        <table>
            <tr>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
        <ul>
            <li><img src="@app.getImage" alt="LOGO" /></li>
            @for((opinion, index) <- app.getOpinions.take(3).zipWithIndex) {
                <li @if(index > 1) {class="hidden-xs"}>
                    <div data-value="@opinion.percentage()"
                        data-title="@webpage.getTopics.getTitle(opinion.getTopicID)" class="chart-gauge"></div>
                </li>
            }
        </ul>

        <div class="description">
            @{Utils.getMaxCharacters(app.getDescription, 120)}
        </div>
        <div class="admin-link">
            @if(webpage.isAdmin) {
                <a href="@routes.Administration.training()#@app.getAppID">
                    Admin training <span class="glyphicon glyphicon-share"></span>
                </a>
            }
        </div>
    </div>
</div>