@(app: AndroidApp)

<div class="body-app">
    <dl class="information">
        <dt style="background-image: url('@app.getImage')"></dt>
        <dd class="name"><a href="@routes.Application.details(app.getAppID)">@app.getName</a></dd>
        <dd class="category category-@app.getCategory.getName">
            @views.html.icons.icons(app.getCategory)
        </dd>
        <dd>
            @for(i <- 1 to app.getScore) {
                <img src="@routes.Assets.versioned("images/icons/star.png")" alt="" />
            }
        </dd>
    </dl>
    <div class="opinion-gauge">
        <canvas class="app-gauge" data-value="70" width="120" height="60"></canvas>
    </div>
</div>