@import service.BaseUser
@import service.BaseUserService
@(review: Review, user: BaseUser, position: String)

<div class="review @if(position != null) {review-@position}">
    <div class="body">
        @review.getDisplayType match {
            case 0 => {
                <span class="review-title">@Html(review.getTitle.trim)</span><br>
                <span class="review-body">@Html(review.getContent)</span>
            }

            case 1 => {
                <span class="review-body">@Html(review.getContent)</span>
            }

            case _ => {
                <span class="review-title">@Html(review.getTitle)</span>
            }
        }
    </div>
    <div class="footer">
        <small>@review.reviewDate.toString</small>

        <div class="rating">
        @for(i <- 1 to review.starRatings) {
            <img height="10" src="@routes.Assets.versioned("images/rating.png")" />
        }
        </div>
    </div>
    @if(user != null && user.right == BaseUserService.Rights.ADMIN) {
        <div>
            @if(review.isQuestionable && user != null) {
                <div class="questionable pull-right">
                    <span class="glyphicon glyphicon-alert"></span>
                </div>
            }

            <a href="@review.permalink">permalink</a>
        </div>
    }
</div>