@()

<form class="form-inline">
    <div class="form-group">
        <label>Sort reviews</label>
        <select class="form-control selection-filter">
            <option value="RANDOM">None</option>
            <option value="MOST_RECENT">Most recent</option>
            <option value="OLDEST">Oldest recent</option>
            <option value="MOST_POSITIVE">Most positive</option>
            <option value="MOST_NEGATIVE">Most negative</option>
            <option value="MOST_RELEVANT">Most relevant</option>
        </select>
    </div>
</form>