@(webpage: WebPage)

@views.html.administration.admin_main(webpage) {
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-10 col-md-4">
            <nav>
                <ul class="pager" id="app-pagination" data-url="@routes.Administration.getParsedApplications()">

                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-md-8">
            Press 'W' to change side selection
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <span id="app-loading"><img width="30" src="@routes.Assets.versioned("images/loading.png")" alt="" /></span>
            <ul id="search-results">

            </ul>
        </div>
        <div class="col-xs-12 col-md-8" id="reviews-container" data-url="@routes.Administration.getAdminReviews()">

        </div>
    </div>

    <div id="side-indicator" data-url="@routes.Administration.proposeArgument()"></div>
    <div id="result-indicator">Success!</div>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/pages/admin_training.js")"></script>
}