
#details-header {
  padding: 20px 0;
  border-bottom: 1px solid #EAEAEA;

  .logo {
    td {
      vertical-align: bottom;
      padding: 20px;
    }

    td:first-child {
      width: 20%;
      padding: 0;

      img { width: 100%; }
    }
  }
}

#details-gauge {
  margin: 20px 60px;

  .opinion-box {
    margin: 5px;
    padding: 5px;
    text-align: center;
  }

  .opinion-box:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .opinion-box.active,
  .opinion-box:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #eaeaea;
  }
}

#details-related {

  background: #e6e0d0;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;

      img { width: 70px; margin: 10px; }
    }
  }
}

#details-reviews {
  padding: 10px;

  .topic-container {

    .review {
      display: inline-block;
      margin: 10px;
      padding: 10px;
      max-width: 400px;
      vertical-align: top;
      border: 1px solid #eaeaea;

      font-size: 1.2em;

      .clause-positive { color: green; }
      .clause-negative { color: red; }
    }
  }
}