
@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1px);
@backgroundReview: #f8f8f8;

.topGradient(@color) {
  background: -moz-linear-gradient(top, fade(@color, 100%) 0%, fade(@color, 0%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@color, 100%)), color-stop(100%,fade(@color, 0%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#00f8f8f8',GradientType=0 ); /* IE6-9 */
}

.bottomGradient(@color) {
  background: -moz-linear-gradient(top, fade(@color, 0%) 0%, fade(@color, 100%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@color, 0%)), color-stop(100%,fade(@color, 100%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#fff8f8f8',GradientType=0 ); /* IE6-9 */
}

/* Logo, Name, .. */
#details-header {
  padding: 20px 0;
  border-bottom: 1px solid #EAEAEA;

  .information {
    margin: 0;

    dt, dd {
      display: inline-block;
      float: left;
      height: 100px;
      margin-right: 20px;

      img { height: 100%; }
    }

    ul {
      padding: 0;
      list-style: none;
      font-weight: normal;

      .name {
        font-size: 2em;
        font-weight: bold;
      }

      .developer {
        font-size: 1.0em;
        font-style: italic;
      }

      svg {
        vertical-align: middle;
      }
    }

    .details {
      padding-left: 10px;
      border-left: 1px solid #d7d7d7;
    }
  }
}

/* Indicator for the side of the opinions */
#details-gauge {
  margin: 20px 60px;

  .opinion-box {
    margin: 5px;
    padding: 5px;
    text-align: center;
  }

  .opinion-box:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .opinion-box.active,
  .opinion-box:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #eaeaea;
  }

  .indicator-slider {
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: auto;
    height: 2px;
    background: #ededed;

    div {
      position: relative;
      left: 0;
      width: 0;
      height: 100%;
      background: rgb(203, 203, 203);
    }
  }
}

/* List of opinions for the app */
#details-opinions {
  padding: 10px;

  span {
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }

  span:hover {
    background-color: #3e7bc0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}

/* List of related apps */
#details-related {

  position: absolute;
  z-index: 100;
  height: 100%;
  padding: 0;

  background: #e6e0d0;

  h3 {
    padding: 0 10px 10px 10px;
    margin-bottom: 0;
    background: #e6e0d0;
  }

  ul.related-app {
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 1.2em;
    background: #e6e0d0;

    li {
      display: block;
      padding: 10px;

      img {
        display: inline-block;
        width: 20%
      }

      span {
        display: inline-block;
        width: 75%;
        padding-left: 10px;
        vertical-align: middle;
      }
    }

    li:hover,
    li.active {
      background: #ddd3bb;
      cursor: pointer;
    }
  }
}

/* Body to show the related apps reviews */
#details-comparison {
  position: relative;
  display: none;
  min-height: 534px;
  padding-top: 15px;
  background: #ddd3bb;

  #close-comparison {
    position: absolute;
    z-index: 50;
    top: 10px;
    right: 10px;

    border: none;
    background: none;
    color: #bf5959;
    font-size: 2em;
  }

  #close-comparison:hover {
    color: #7e2f2f;
  }
}

/* List of reviews of the spec app */
#details-reviews {
  padding: 10px;
  min-height: 534px;

  .topic-container {

    .review {
      width: 100%;
      display: inline-block;
      margin: 10px;
      vertical-align: top;

      font-size: 1.2em;

      .clause-positive { color: #57b05e; }
      .clause-negative { color: #cc6b6b; }

      .header {
        padding: 5px;
        background-color: #eaeaea;
        border-radius: 5px;

        table {
          width: 100%;

          td:first-child {
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            max-width: 0;
          }

          td:last-child {
            width: 100px;
            text-align: right;
          }
        }
      }

      .body {
        position: relative;
        background-color: @backgroundReview;
        cursor: pointer;

        .content {
          position: relative;
          height: 100px;
          overflow: hidden;
          padding: 5px;
          margin: 0;

          span { position: relative; }

          .inner {
            position: relative;
          }
        }

        .top-gradient, .bottom-gradient {
          width: 100%;
          height: 50px;
          position: absolute;
          z-index: 1;
        }

        .top-gradient { .topGradient(@backgroundReview); }
        .bottom-gradient { .bottomGradient(@backgroundReview); bottom: 0; }
      }

      .footer {
        padding: 0 5px;
        font-size: 0.8em;
        font-weight: normal;
        text-align: right;
      }
    }
  }
}


/**********************************************/
/* Small screen fixes *************************/

@media screen and (max-width: @screen-xs-max) {
  #details-related {
    position: relative;
    height: auto;

    h3 {
      display: inline-block;
      font-size: 1em;
      font-weight: bold;
    }

    ul.related-app {
      display: inline-block;
      margin: 0;

      li {
        display: inline-block;
        width: 50px;

        img { width: 100%; }
        span { display: none; }
      }
    }
  }
}