
@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1px);
@backgroundReview: #f8f8f8;

.topGradient(@color) {
  background: -moz-linear-gradient(top, fade(@color, 100%) 0%, fade(@color, 0%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@color, 100%)), color-stop(100%,fade(@color, 0%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, fade(@color, 100%) 0%,fade(@color, 0%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#00f8f8f8',GradientType=0 ); /* IE6-9 */
}

.bottomGradient(@color) {
  background: -moz-linear-gradient(top, fade(@color, 0%) 0%, fade(@color, 100%) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@color, 0%)), color-stop(100%,fade(@color, 100%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* IE10+ */
  background: linear-gradient(to bottom, fade(@color, 0%) 0%,fade(@color, 100%) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='#fff8f8f8',GradientType=0 ); /* IE6-9 */
}

/* Logo, Name, .. */
#details-header {
  position: relative;
  padding: 0;
  margin-bottom: 20px;

  background: #ececec;
  border-bottom: 1px solid rgb(185, 183, 183);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

  h3 {
    margin-top: 10px;
  }

  .slider-apps {
    position: relative;
    z-index: 75;

    .related-app {
      margin: 0 10px;
      cursor: pointer;

      .app-information { display: none; }
    }

    img {
      height: 50px;
    }
  }

  #related-resumes {
    position: relative;

    .btn-remove {
      position: absolute;
      top: 10px;
      right: 10px;

      background: none;
      border: none;
      color: #333333;
      font-size: 20px;
    }

    .btn-remove:hover {
      color: #585858;
    }

    .app-information .name a {
      color: #ffcc00;
    }

    .app-information .name a:hover {
      color: #3c9fe5;
    }
  }

  /** footer of the header to show the starting comparison **/
  .comparison-bg {
    max-width: 100%;
    overflow: hidden;
    padding: 0;

    div {
      position: relative;
      height: 10px;
      padding: 0;
    }

    .current {
      background: #505050;
      left: -100%;
    }
    .compared {
      background: #F8CF41;
      right: -100%;
    }
  }
}

.app-information {
  margin: 0 auto;

  td {
    padding: 5px;
    vertical-align: top;
  }

  .logo {
    width: 100px;
    img { width: 100%; }
  }

  .name {
    font-size: 2em;
    font-weight: bold;
    vertical-align: bottom;

    a, a:link, a:focus {
      color: #505050;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    }

    a:hover {
      color: #c8c8c8;
      text-decoration: none;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    font-weight: normal;

    .developer {
      font-size: 1.0em;
      font-style: italic;
    }
  }

  .details {
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}

#details-aspects {

  .list-aspects {
    ul {
      list-style: none;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        width: 150px;
        height: 130px;
        margin: 10px;

        text-align: center;

        .opinion-box {
          .chart-gauge {
            width: 150px;
            height: 130px;
          }
        }

        .opinion-box:hover {
          cursor: pointer;
          box-shadow: 0 0 5px rgba(0,0,0,0.2);
          border-radius: 5px;
        }
      }
    }
  }
}

#details-block2 {
  position: relative;

  .btn-back {
    position: absolute;
    top: 10px;
    left: 40px;
    cursor: pointer;
  }

  .btn-back:hover {
    fill: grey;
  }
}

/* Indicator for the side of the opinions */
#details-gauge {
  width: 150px;
  height: 130px;
  margin: 20px auto;
}

/* List of opinions for the app */
#details-opinions {
  padding: 10px;

  span {
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }

  span:hover {
    background-color: #3e7bc0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}

/* List of reviews of the spec app */
#details-reviews {
  padding: 10px;

  .review {
    width: 100%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    font-size: 1.2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .clause-positive { color: #57b05e; }
    .clause-negative { color: #cc6b6b; }

    .header {
      height: 35px;
      max-width: 100%;
      padding: 5px;
      background-color: #eaeaea;

      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
    }

    .body {
      position: relative;
      background-color: @backgroundReview;
      cursor: pointer;

      .content {
        position: relative;
        height: 100px;
        overflow: hidden;
        padding: 5px;
        margin: 0;

        span { position: relative; }

        .inner {
          position: relative;
        }
      }

      .top-gradient, .bottom-gradient {
        width: 100%;
        height: 50px;
        position: absolute;
        z-index: 1;
      }

      .top-gradient { .topGradient(@backgroundReview); }
      .bottom-gradient { .bottomGradient(@backgroundReview); bottom: 0; }
    }

    .footer {
      padding: 5px;
      font-size: 0.8em;
      font-weight: normal;

      span { float: right; }
    }
  }

  .compared {
    .header {
      background-color: #FFEFAE;
    }
  }
}


/**********************************************/
/* Small screen fixes *************************/

@media screen and (max-width: @screen-xs-max) {

  #details-header {

    #img-comparison {
      left: auto;
      right: 10px;
    }
  }
}
