
#home-searchbar {
  margin: 30px 0;

  .logo {
    margin: 20px 0 60px 0;

    text-align: center;
    font-size: 5em;
  }

  .description p {
    margin: 20px 0;

    text-align: center;
    font-size: 2em;
  }

  .search-bar {
    margin-bottom: 30px;
  }
}

#select-categories {

  ul {
    list-style: none;
    padding: 0;

    font-weight: normal;

    li {
      display: inline-block;
      margin: 5px;

      .item-category {
        width: 200px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        cursor: pointer;

        > div {
          display: inline-block;
          vertical-align: middle;
          padding: 5px 5px;
        }

        .button {
          background: #e6e6e6;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          input {
            width: 20px;
            height: 20px;
            vertical-align: middle;
          }
        }
      }

      svg { vertical-align: middle; }
    }
  }
}

#search-results {

  display: none;

  .icon-loader {
    font-size: 1.5em;
    font-weight: normal;
  }

  .error-message {
    display: none;
    margin-top: 20px;
  }

  .body-app {
    position: relative;
    display: inline-block;
    width: 180px;
  }
}

#list-applications {

  h3 {
    padding-left: 10px;

    font-size: 2.5em;
    font-weight: bold;
  }

  #popular-app {
    width: 100%;
    margin: auto;
    padding: 0 50px;
  }
}

/** ANIMATIONS **/

