
#home-searchbar {
  margin: 10px 0;

  .logo {
    margin: 20px 0 60px 0;

    text-align: center;
    font-size: 5em;
  }

  .description p {
    margin: 20px 0;

    text-align: center;
    font-size: 2em;
  }

  .search-bar {
    margin-bottom: 30px;
  }
}

#search-categories {

  h4 {
    display: inline-block;
    font-weight: bold;
  }

  ul {
    display: inline-block;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-size: 1.2em;

    li {
      display: inline-block;
      margin: 10px;
      padding: 5px 10px;
      background: #F6F6F6;
      border-radius: 5px;
      border: 2px solid #E7E7E7;
      cursor: pointer;
    }

    li:hover {
      border: 2px solid #5798CF;
    }

    li.active {
      border: 2px solid #5798CF;
      background: #5798CF;
      color: white;
    }
  }
}

#categories-desc {
  height: 30px;

  ul {
    list-style: none;
    padding: 0;

    font-style: italic;
    font-weight: normal;

    li {
      display: none;
    }
  }
}

#search-results {

  display: none;

  .icon-loader {
    font-size: 1.5em;
    font-weight: normal;
  }

  .error-message {
    display: none;
    margin-top: 20px;
  }

  .back-button {
    margin-bottom: 20px;
  }

  .results-container {
    text-align: center;

    .body-app {
      margin-bottom: 20px;
      text-align: left;
      padding: 5px;

      .media {
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 40px;
      }

      svg {
        vertical-align: middle;
      }

      hr {
        margin: 0 10px 0 0;
      }
    }
  }
}

#list-applications {

  h3 {
    padding-left: 10px;

    font-size: 2.5em;
    font-weight: bold;
  }

  #popular-app {
    width: 100%;
    margin: auto;
    padding: 0 50px;
  }
}

/** ANIMATIONS **/

