
@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1px);

html, body {
  width: 100%;
  height: 100%;

  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  background: url('images/background.jpg') #07233a top center no-repeat;
}

img {
  -ms-interpolation-mode: bicubic;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
}

a, a:link, a:focus {
  color: #003A65;
}

a:hover {
  color: #292929;
  text-decoration: none;
}

/* Header */

#header {
  position: relative;
  min-height: 100px;
  padding-top: 20px;

  #header-search-bar {
    position: absolute;
    right: 0;
    bottom: @searchPositionBottom;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

    form {
      .wrapper-input {
        display: inline-block;
        padding: @searchPadding;
        background: url('images/search_icon.png') @searchBackground 5px center no-repeat;
        background-size: 30px 30px;
        border-radius: @searchBorderRadius;

        input[type='text'] {
          width: 300px;
          background: none;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          color: black;
        }

        button[type='submit'] {
          border: none;
          background: none;
          font-size: 16px;
        }

        button[type='submit']:hover {
          color: #cdcdcd;
        }
      }
    }
  }
}

/* Body */
#body {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  background: white;
  box-shadow: 0 0 5px black;

  .breadcrumb {
    margin: 10px 10px;
  }

  #footer {
    background: #e1e1e1;
    margin: 20px 0 0 0;
    padding: 20px;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 10px;
      }
    }

    p {
      text-align: right;
    }
  }
}

/** Hide elements used to store some data **/
.data {
  display: none;
}

/** Components **/

.pager {
  display: none;
  clear: both;

  li {
    font-weight: normal;
    margin: 0 5px;
  }

  li.active {
    a {
      background: #64A4EC;
      color: white;
      border-color: #4281AA;
      font-weight: bold;
    }
  }

  li.separator {
    padding: 5px;
  }
}

/* Avatar */
.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  vertical-align: middle;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.6);

  background-size: cover;
  background-position: center center;
}

.avatar-small { width: 20px; height: 20px; }
.avatar-medium { width: 60px; height: 60px; }
.avatar-large { width: 100px; height: 100px; }

.avatar-small-rounded { width: 20px; height: 20px; border-radius: 10px; }
.avatar-large-rounded { width: 100px; height: 100px; border-radius: 50px; }
.avatar-medium-rounded { width: 60px; height: 60px; border-radius: 30px; }

/** Body application **/
@logoHeight: 50px;
@subHeaderPadding: 5px;
@gaugeSize: 80px;

.body-app {
  width: 100%;
  position: relative;
  margin-bottom: 40px;

  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  overflow: hidden;

  .header {
    position: relative;
    width: 100%;
    height: 120px;
    background-position: center center;
    background-size: cover;
    filter: grayscale(0.8) blur(1px);
    -webkit-filter: grayscale(0.8) blur(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }

  .header:hover {
    filter: none;
    -webkit-filter: none;
  }

  .body {
    width: 100%;

    h6 {
      font-size: 1.5em;
      font-weight: lighter;
      margin: 10px 5px;
    }

    ul {
      padding: 0;
      margin: 5px;
      list-style: none;

      li {
        display: inline-block;
        vertical-align: middle;
        text-align: center;

        .chart-gauge {
          width: 90px;
          height: 70px;
        }

        img {
          width: 60px;
          vertical-align: middle;
        }
      }
    }

    .description {
      min-height: 50px;
      margin-top: 10px;
      padding: 5px;
      color: #222222;
      background: #ececec;
    }

    .admin-link {
      text-align: right;
    }
  }
}

/* Main titles */
.page-header {

  h1 {
    display: inline-block;
    margin-top: 10px;
  }

  .icon-loader {
    display: inline-block;
    margin-left: 20px;
  }

  .categories {
    position: relative;
    top: 5px;
    float: right;

    .list-categories {
      display: inline-block;
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        cursor: pointer;

        .colored { display: none; }
        .title {
          display: inline-block;
          vertical-align: middle;
          width: 0;
          overflow: hidden;

          font-weight: normal;
          font-size: 1.2em;
        }
      }

      li:hover,
      li.active {

        .mono-color{ display: none; }
        .colored { display: inherit; }
      }
    }
  }
}

/** Small screen fixes **/

@media screen and (max-width: @screen-xs-max) {

  #header {

    /* Navigation */
    .navbar {

      .nav:first-child {

        li:before {
          content: none;
        }
      }

      #search-bar {
        border-bottom: none;
        padding-top: 10px;

        button[type='submit'] {
          float: right;
        }

        .form-group {

          input[type='text'] {
            width: auto;
          }
        }
      }
    }
  }

  .body-app {
    .body {
      ul {
        padding: 20px 0;
      }
    }
  }

  .page-header {
    .categories {
      margin: 0;

      label {
        font-weight: normal;
      }

      select.form-control {
        display: inline-block !important;
        width: auto !important;
      }
    }
  }
}

// TODO : tests
#test-app {
  .android-app {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #F2F2F2;
    overflow: hidden;

    .main, .secondary {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      transition: opacity 500ms ease-out;
      -webkit-transition: opacity 500ms ease-out;
    }

    .main {
      z-index: 10;

      .header {
        width: 100%;
        height: 100px;
        background: url('') center center no-repeat;
        background-size: cover;

        img {
          width: 50px;
          height: 50px;
          margin: 5px;

          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
        }
      }

      .body {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        background: #FBFBFB;

        h3 {
          margin: 0;
          font-size: 1.2em;
        }

        table {
          width: 100%;

          .icon {
            width: 30px;
            padding: 5px;

            img {
              width: 20px;
              height: 20px;
            }
          }

          .global-opinion {
            width: 60px;

            div {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }

    .secondary {
      z-index: 9;

      ul {
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 10px;

          h6 {
            font-size: 1.1em;
            font-weight: normal;
            margin: 0;
          }
        }
      }

      .btn-explore {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }

  .android-app:hover {

    .main {
      opacity: 0;
    }

    .secondary {
      z-index: 11;
    }
  }
}