
@screen-sm-min: 768px;
@screen-xs-max: (@screen-sm-min - 1px);

@footerHeight: 100px;

html, body {
  width: 100%;
  height: 100%;

  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  background-color: #F8F8F8;

  > .container-fluid {
    position: relative;
    min-height: 100%;
  }
}

/* Navigation */
@navbarHeight: 50px;

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .navbar-brand {
    padding: 10px 15px;
  }

  .nav:first-child {
    font-size: 1.5em;
    color: white;
    font-weight: normal;

    > li > a {
      display: inline-block;
      padding: 15px 10px;
    }

    li:before {
      content: "<";
      display: inline-block;
      padding: 10px 0;
      color: black;
    }

    li:first-child:before {
      content: none;
    }
  }

  .navbar-text {
    color: black;
  }
}

/* Body */
#body-content {
  min-height: 100%;
  position: relative;
  padding: @navbarHeight 0 @footerHeight 0;
}

/* Footer */

#footer {
  width: 100%;
  height: @footerHeight;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #ececec;
  border-top: 1px solid #dadada;
  text-align: center;
}

/** Colors of the category icons **/
.category-games { fill: #6686cc; }
.header-games { background: #6686cc; }

.category-communication { fill: #348BCB; }
.header-communication { background: #348BCB; }

.category-social { fill: #348BCB; }
.header-social { background: #348BCB; }

.category-audio { fill: #89C074; }
.header-audio { background: #89C074; }

.category-default { fill: #8cb2cb; }
.header-default { background-color: #8cb2cb; }

.category-entertainment { fill: #89C074; }
.header-entertainment { background: #89C074; }

.category-tools { fill: #D89358; }
.header-tools { background: #D89358; }

.category-books { fill: #89C074; }

.category-business { fill: #D6DD6E; }

.category-comics { fill: #89C074; }

.category-education { fill: #D6DD6E; }

.category-finance { fill: #D5C50D; }

.category-health { fill: #BC2F2F; }

.category-medical { fill: #BC2F2F; }

.category-personalization { fill: #D89358; }

.category-photo { fill: #89C074; }

.category-productivity { fill: #D6DD6E; }

.category-shopping { fill: #89C074; }

.category-sports { fill: #BC2F2F; }

.category-transportation { fill: #D6DD6E; }

.category-travel { fill: #D6DD6E; }

.category-weather { fill: black; }

/** Hide elements used to store some data **/
.data {
  display: none;
}

/** Gauges **/
.chart-gauge {

  tspan {
    font-weight: normal !important;
  }

  a {
    display: none !important;
  }
}