/** Search results **/
#search-results {
  position: relative;
  margin: 20px;

  .mCSB_scrollTools_horizontal {
    width: 80%;
    left: 10%;
  }

  #search-result-applications {
    width: 100%;
    min-height: 320px;
    overflow: hidden;

    .list-container {
      padding: 0;
      list-style: none;

      > li {
        width: 260px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
  }

  #search-result-discover {
    width: 100%;
    overflow: hidden;

    .discover-item {

      h3 {
        text-align: center;
        font-weight: lighter;
      }

      .discover-apps {
        padding: 0;
        list-style: none;

        > li {
          display: inline-block;
          width: 260px;
          margin: 0 10px;
        }
      }
    }
  }
}