@(category: constants.Constants.Category, size: Integer = 25)

<svg class="category-@category.getName" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
width="@size" height="@size">

    @category.getName match {
        case "games" => {
            @views.html.icons.games())
        }
        case "social" => {
            @views.html.icons.social()
        }
        case "communication" => {
            @views.html.icons.communication()
        }
        case "audio" => {
            @views.html.icons.audio()
        }
        case "default" => {
            @views.html.icons.default()
        }
        case "entertainment" => {
            @views.html.icons.entertainment()
        }
        case "tools" => {
            @views.html.icons.tools()
        }
        case "books" => {
            @views.html.icons.books()
        }
        case "personalization" => {
            @views.html.icons.personalization()
        }
        case "productivity" => {
            @views.html.icons.productivity()
        }
        case "weather" => {
            @views.html.icons.weather()
        }
        case "shopping" => {
            @views.html.icons.shopping()
        }
        case "transportation" => {
            @views.html.icons.transportation()
        }
        case "lifestyle" => {
            @views.html.icons.lifestyle()
        }
        case "travel" => {
            @views.html.icons.travel()
        }
        case "photo" => {
            @views.html.icons.photo()
        }
        case "business" => {
            @views.html.icons.business()
        }
        case "health" => {
            @views.html.icons.health()
        }
        case "finance" => {
            @views.html.icons.finance()
        }
        case "sports" => {
            @views.html.icons.sport()
        }
        case "education" => {
            @views.html.icons.education()
        }
        case "news" => {
            @views.html.icons.news()
        }
        case "medical" => {
            @views.html.icons.medical()
        }
        case "comics" => {
            @views.html.icons.books()
        }
        case _ => {
            @views.html.icons.games()
        }
    }

</svg>