@(webpage: WebPage)

@main(webpage) {
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            ObViz (Opinion Based Visualization) is an initiative of the Artificial Intelligence Lab at EPFL, based in Lausanne, Switzerland.
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <address class="contact">
                        <div class="image-contact">
                            <a href="http://lia.epfl.ch/~faltings/">
                                <div class="avatar avatar-large-rounded" style="background-image: url('http://liawww.epfl.ch/administrator/components/com_jresearch/assets/members/faltings.jpg');"></div>
                            </a>
                        </div>
                        <button type="button" class="btn btn-default btn-xs emailButton" data-toggle="popover" title="Email"
                        data-content="B_-o_-i._-Fa_-lt_-ing_-s_-@@e_-pf_-l._-c_-h" data-placement="bottom">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <strong>Prof. Boi Faltings</strong>
                    </address>
                </div>
                <div class="col-xs-12 col-md-4">
                    <address class="contact">
                        <div class="image-contact">
                            <a href="http://liawww.epfl.ch/index.php/component/jresearch/?view=member&task=show&id=12">
                                <div class="avatar avatar-large-rounded" style="background-image: url('http://liawww.epfl.ch/administrator/components/com_jresearch/assets/members/poza-mica.jpg');"></div>
                            </a>
                        </div>
                        <button type="button" class="btn btn-default btn-xs emailButton" data-toggle="popover" title="Email"
                        data-content="c_-la_-udi_-u-cri_-stia_-n.mu_-sat_-@@e_-pf_-l._-ch" data-placement="bottom">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <strong>Claudiu Cristian Musat</strong>
                    </address>
                </div>
                <div class="col-xs-12 col-md-4">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-large-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/avatar.jpeg")');"></div>
                        </div>
                        <button type="button" class="btn btn-default btn-xs emailButton" data-toggle="popover" title="Email"
                        data-content="m_-ax_-_-i_-m_-e._-_-d_-ar_-co_-t@@e_-_-pf_-l._-c_-h" data-placement="bottom">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <strong>Maxime Darçot</strong>
                    </address>
                </div>
                <div class="col-xs-12 col-md-4">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-large-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/photo_AudreyL.png")');"></div>
                        </div>
                        <button type="button" class="btn btn-default btn-xs emailButton" data-toggle="popover" title="Email"
                        data-content="a_-u_-d_-r_-_-e_-y.l_-o_-e_-_-f_-f_-el_-_-@@e_-p_-f_-l._-_-ch" data-placement="bottom">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <strong>Audrey Loeffel</strong>
                    </address>
                </div>
                <div class="col-xs-12 col-md-4">
                    <address class="contact">
                        <div class="image-contact">
                            <a href="http://ro.linkedin.com/pub/alexandru-ardelean/35/9b7/194">
                                <div class="avatar avatar-large-rounded" style="background-image: url('http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/1/005/089/3a5/36a8e97.jpg');"></div>
                            </a>
                        </div>
                        <button type="button" class="btn btn-default btn-xs emailButton" data-toggle="popover" title="Email"
                        data-content="a_-l_-e_-x_-a_-_-n_-d_-r_-u._-_-ar_-de_-le_-an_-_-@@e_-pf_-l._-_-c_-h" data-placement="bottom">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <strong>Alexandru Ardelean</strong>
                    </address>
                </div>
                <div class="col-xs-12 col-md-4">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-large-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/gaylor.jpg")');"></div>
                        </div>
                        <button type="button" class="btn btn-default btn-xs emailButton" data-toggle="popover" title="Email"
                        data-content="_-g_-a_-y_-_-l_-o_-r_-.bo_-s_-_-so_-n@@_-g_-_-ma_-i_-l._-_-c_-om" data-placement="bottom">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                        <strong>Gaylor Bosson</strong>
                    </address>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/FredOuwehand.jpg")');"></div>
                        </div>
                        <strong>Fred Ouwehand</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/x400.png")');"></div>
                        </div>
                        <strong>George Piskas</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/xin_tang.PNG")');"></div>
                        </div>
                        <strong>Xin Tang</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/jad_copet.jpg")');"></div>
                        </div>
                        <strong>Jade Copet</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/HaprianVlad.jpg")');"></div>
                        </div>
                        <strong>Vlad Haprian</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/Pierre.jpg")');"></div>
                        </div>
                        <strong>Pierre Gaboud</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/goncalo.jpg")');"></div>
                        </div>
                        <strong>Gonçalo Vitor</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/P1030883_edit1.JPG")');"></div>
                        </div>
                        <strong>Christian Zommerfelds</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/raffaele.jpeg")');"></div>
                        </div>
                        <strong>Raffaele Canale</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/tristan.jpg")');"></div>
                        </div>
                        <strong>Tristan Marchal</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style="background-image: url('@routes.Assets.versioned("images/contact/vincent.jpeg")');"></div>
                        </div>
                        <strong>Vincent Debieux</strong>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address class="contact">
                        <div class="image-contact">
                            <div class="avatar avatar-medium-rounded" style=""></div>
                        </div>
                        <strong>David Tang</strong>
                    </address>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4" style="text-align: center;">
            <img style="width: 75%;" src="@routes.Assets.versioned("images/logo-epfl.jpeg")" alt="logo epfl" />
            <address>
                <strong><abbr title="Artificial Intelligence Laboratory">LIA</abbr></strong><br />
                EPFL / IC / IIF / LIA<br />
                Batiment IN<br />
                Station 14<br />
                CH - 1015 Lausanne (Switzerland)<br />
                <abbr title="Phone">P:</abbr> +41 (0) 21 693 27 35<br /><br />

                <a href="http://liawww.epfl.ch/">Website</a>
            </address>
        </div>
    </div>

    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/pages/contact.js")'></script>

}