@(webpage: WebPage, app: AndroidApp, titles: java.util.Map[Integer, java.util.List[String]],
        related: java.util.List[AndroidApp])

@main(webpage) {

    @* Information about the application *@
    <div class="row" id="details-header">
        <div class="col-xs-12 col-md-12">
            @views.html.templates.app_description(app)
        </div>
    </div>

    <div class="row">
        @* List of gauges to display the opinions value *@
        <div class="col-xs-12 col-md-6">
            <div id="details-gauge">
                <div class="opinion-slider">
                @for((id, opinionValue) <- app.getMappedOpinions) {
                    <div>
                        <div class="opinion-box" data-topic="@id" data-value="@titles.get(id).head">
                            <canvas width="180" height="100" data-value="@opinionValue.percentage" class="gauge"></canvas>
                            <h4>@titles.get(id).head</h4>
                        </div>
                    </div>
                }
                </div>
                <div class="indicator-slider"><div></div></div>
            </div>
        </div>

        @* List of opinions with size related to the number *@
        <div class="col-xs-12 col-md-6">
            <div id="details-opinions">
                @for((id, opinionValue) <- app.getMappedOpinions) {
                    <span onclick="OBVIZ.goTo(@id)"
                            style="font-size: @opinionValue.getFontSize(app.getMaxNumberOpinions)em">@titles.get(id).head</span>
                }
            </div>
        </div>
    </div>

    <div class="row" style="position: relative;">
        @* List of relative applications *@
        <div class="col-xs-12 col-sm-4 col-md-3" id="details-related">
            <h3>Related Applications</h3>
            <ul class="related-app">
                @for(app <- related) {
                    <li data-id="@app.getAppID">
                        <img src="@app.getImage" alt="@app.getName" />
                        <span class="hidden-xs">@app.getName</span>
                        <div class="data">
                            <span data-id="1" data-value="10" ></span>
                            <span data-id="2" data-value="20" ></span>
                            <span data-id="3" data-value="30" ></span>
                            <span data-id="4" data-value="40" ></span>
                            <span data-id="5" data-value="50" ></span>
                            <span data-id="6" data-value="10" ></span>

                            @views.html.templates.app_description(app)
                        </div>
                    </li>
                }
            </ul>
        </div>
        @* Box to compare the applications *@
        <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9" id="details-comparison">
            <button id="close-comparison"><span class="glyphicon glyphicon-remove-circle"></span></button>

            @* Information about the related application *@
            <div class="col-xs-12 col-lg-12 information-container">

            </div>

            @* Opinion value *@
            <div class="col-xs-12 col-lg-12">
                <canvas width="180" height="100" data-value="1" id="gauge-comparison"></canvas>

                <span id="current-opinion"></span>
            </div>
        </div>

        @* List of the reviews of the application *@
        <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9" id="details-reviews">
        @for((id, reviews) <- app.getMappedReviews) {
            <div id="topic-@id" class="topic-container" style="display: none;">
            @for(review <- reviews.take(50)) {

                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="review">
                        <div class="header">
                            <table>
                                <tr>
                                    <td>@review.getTitle</td>
                                    <td>
                                        @for(i <- 1 to review.getScore) {
                                            <img height="15" src="@routes.Assets.versioned("images/icons/star.png")" />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="body" onclick="OBVIZ.expand($(this));">
                            <div class="top-gradient"></div>
                            <div class="bottom-gradient"></div>
                            <div class="content">
                                <p class="inner">
                                    @Html(review.getParsedBody(id))
                                </p>
                            </div>
                        </div>
                        <div class="footer">
                            @review.getAuthorName, @review.getDate
                        </div>
                    </div>
                </div>
            }
            </div>
        }
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/pages/details.js")"></script>
}