
@(webpage: WebPage, app: AndroidApp, related: java.util.List[AndroidApp])

@main(webpage) {

    @* Information about the application *@
    <div class="row" id="app-description">
        <div class="col-md-6">
            <h1><img height="40" src="@app.getImage" alt="" /> @app.getName</h1>

            @views.html.templates.app_description(app, webpage)
        </div>

        <div class="col-md-6">
            <div class="slick-screenshots">
                @for(screenshot <- app.getScreenshots.take(10)) {
                    <div><img data-lazy="@screenshot" src="" alt="" /></div>
                }
            </div>
        </div>
    </div>

    @if(app.isParsed) {
        <div class="row" id="details-aspects">
            @* Global gauge *@
            <div class=" col-xs-12 col-md-3">
                <div id="global-gauge" data-title="Global" data-value="@app.getGlobalOpinion" class="chart-gauge"></div>
            </div>

            @* List of all the topics *@
            <div class="col-xs-12 col-md-9 list-aspects">
                <ul>
                    @for((opinion, index) <- app.getMostImportantTopics.take(10).zipWithIndex) {
                        @if(index % 2 == 0) {
                            <li>
                                <div class="opinion-box" data-topic="@opinion.getTopicID">
                                    <div id="gauge-@opinion.getTopicID" data-title="@webpage.getTopics.getTitle(opinion.getTopicID)"
                                    data-value="@opinion.percentage()" data-total="@opinion.getTotal" class="chart-gauge"></div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <ul>
                    @for((opinion, index) <- app.getMostImportantTopics.take(10).zipWithIndex) {
                        @if(index % 2 == 1) {
                            <li>
                                <div class="opinion-box" data-topic="@opinion.getTopicID">
                                    <div id="gauge-@opinion.getTopicID" data-title="@webpage.getTopics.getTitle(opinion.getTopicID)"
                                    data-value="@opinion.percentage()" data-total="@opinion.getTotal" class="chart-gauge"></div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="row" id="details-reviews">
            <div class="col-xs-8">
                <h3>Reviews</h3>
                @views.html.templates.reviews_filters()

                <div id="reviews-container" data-url="@routes.AJAX.getReviews()"></div>
            </div>
            <div class="col-xs-4" id="details-alternatives">
                <h3>Alternatives</h3>
                <ul>
                    @for(alternative <- related) {
                        <li>
                            <div class="alternative-body" data-id="@alternative.getAppID"
                                @if(!app.isParsed) {data-url="@routes.Application.details(alternative.getAppID)"}>

                                <div class="header" style="background-image: url('@alternative.getRandomScreen(400)')">
                                    <div class="sub-header">
                                        <table>
                                            <tr>
                                                <td class="logo"><img src="@alternative.getImage" alt="" /></td>
                                                <td>@alternative.getName</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    } else {
        <div id="app-not-parsed">
            I'm currently working on this to get the information. Please come back later !
        </div>
    }

    <div id="data" style="display:none;">
        <div data-id="@app.getAppID" data-main="true">
            <div data-topic="0" data-value="@app.getGlobalOpinion"></div>
            @for(value <- app.getOpinions) {
                <div data-topic="@value.getTopicID" data-value="@value.percentage()"></div>
            }
        </div>

        @for(application <- related) {
            <div data-id="@application.getAppID">
                <div data-topic="0" data-value="@application.getGlobalOpinion"></div>
                @for(value <- application.getOpinions) {
                    <div data-topic="@value.getTopicID" data-value="@value.percentage()"></div>
                }
            </div>
        }
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/pages/details.js")"></script>
}