@(webpage: WebPage, headline: HeadLine)

@main(webpage) {

    @* Video *@
    <div id="home-intro">
        <video id="home-video" class="video-js vjs-default-skin vjs-big-play-centered" width="480" height="270"
        preload="auto" data-setup="{}" controls>

            <source src="@routes.Assets.versioned("video/ObveeVer2Final%202web.mp4")" type="video/mp4" />

            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>

    <div id="home-search-bar">
        <div>
            <p>
                <img class="quote-up" src="@routes.Assets.versioned("images/quote_up.png")" alt="" />
                <img class="quote-down" src="@routes.Assets.versioned("images/quote_down.png")" alt="" />

                Search and discover applications of the Google Play Store
            </p>

            <form method="POST" action="@routes.Application.postSearch()">
                <div class="wrapper-input">
                    <input type="text" name="query" placeholder="Search for apps..." />
                    <button type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </form>
        </div>
    </div>

    @defining(headline.getApps.head) { app =>
        <div id="home-tip">
            <div id="headline-container">
                <div class="block-title"></div>

                <div class="row">
                    <div class="col-xs-7">
                        <h6>
                            <img height="60" src="@app.getImage" alt="Logo" />
                            @headline.getTitle
                        </h6>
                        <p>
                        @app.getDescription
                        </p>
                    </div>
                    <div class="col-xs-2">
                    @if(headline.getTopicID != null) {
                        <div data-value="@app.getOpinion(headline.getTopicID).percentage()" data-title="@webpage.getTopics.getTitle(headline.getTopicID)" class="chart-gauge"></div>
                    } else {
                        <div data-value="@app.getGlobalOpinion" data-title="Global" class="chart-gauge"></div>
                    }
                    </div>
                    <div class="col-xs-3 percent-tip">
                    @if(headline.getTopicID != null) {
                        @{ 100 - app.getOpinion(headline.getTopicID).percentage() }% of the opinions about
                        @webpage.getTopics.getTitle(headline.getTopicID) are negative
                    } else {
                        @{ 100 - app.getGlobalOpinion }% of the opinions about
                        @webpage.getTopics.getTitle(headline.getTopicID) are negative
                    }
                    </div>
                    <div class="col-xs-12 headline-link">
                        But we can show you some alternatives!
                        <strong><a href="@routes.Application.details(app.getAppID)">Click here</a></strong> to explore &raquo;
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="trending" data-url="@routes.AJAX.getTrending">

        @* Trend Apps *@
        <div class="page-header">
            @templates.categories(webpage, "trends")

            <h1>Explore most trending apps</h1>
            @* Loading icon *@
            <div class="icon-loader">
            @views.html.templates.loading()
            </div>
        </div>

        <div class="row results-container">

        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/video.js")"></script>
    <script type="text/javascript">
        videojs.options.flash.swf = '@routes.Assets.versioned("video-js.swf")';
    </script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/pages/index.js")"></script>
}
