@import service.BaseUserService.Rights
@import com.feth.play.module.pa.views.html._
@(webpage: WebPage)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>ObViz</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1" />
        <meta name="description" content="Read opinions in app reviews and get the app you want" />
        <meta name="author" content="ObViz" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @* Favicon *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @* Stylesheets *@
        <link href='http://fonts.googleapis.com/css?family=Dosis:500,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("slick/slick.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("slick/slick-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/design.css")">

        @* Javascript libraries *@
        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/gauge.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("slick/slick.min.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>

        @* Header *@
        <div id="header" class="container-fluid">
            <nav class="navbar navbar-default" data-spy="affix" data-offset-top="20">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-obviz">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@routes.Application.index()">
                            <img src="@routes.Assets.versioned("images/favicon.png")" alt="" />
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-obviz">
                        <ul class="nav navbar-nav">
                        @for(path <- webpage.getBreadcrumb) {
                            <li><a href="@path.getPath">@path.getTitle</a></li>
                        }
                        </ul>

                        @currentAuth() { auth =>
                            @if(webpage.getUser != null) {
                                @webpage.getUser.right match {
                                    case Rights.ADMIN => {
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="@controllers.routes.Administration.admin()">Administration</a></li>
                                            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Logout</a></li>
                                        </ul>
                                    }

                                    case Rights.USER => {
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Logout</a></li>
                                        </ul>
                                    }
                                }
                            } else {

                            }
                        }

                        <form class="navbar-form navbar-right" role="search" id="search-bar">
                            <button type="submit"><img height="30" src="@routes.Assets.versioned("images/search_icon.png")" alt="" /></button>
                            <div class="form-group">
                                <input type="text" placeholder="Search ..." />
                            </div>
                        </form>
                    </div>
                </div>
            </nav>

            <div class="container" id="header-content">
                <div id="obvee-speaking">
                    Hey! Enter some keywords or an app name !
                </div>
            </div>
        </div>

        @* Body *@
        <div id="body" class="container">
            <div id="body-header"></div>
            <div id="body-footer"></div>

            <div id="body-middle">
                <div id="body-content">
                    @content
                </div>
                <div id="search-results" data-url="@controllers.routes.AJAX.search()">
                    <div class="page-header">
                        <button class="pull-right btn btn-default btn-close" onclick="OBVIZ.search.close()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>

                        <h1>
                            Results

                            <small>
                                <ul class="list-categories">
                                    @for(category <- webpage.getCategories) {
                                        <li data-categories="@category.getCategories">@category.getTitle</li>
                                    }
                                </ul>
                            </small>
                        </h1>
                    </div>

                    @* Loading icon *@
                    <div class="icon-loader">
                        @views.html.templates.loading()
                    </div>
                    @* Error message to display when an error occurred *@
                    <div class="error-message">
                        <div class="alert alert-info">
                            An <strong>error</strong> occurred during the request. Try to refresh the page or come back later!
                        </div>
                    </div>

                    @* Storage for the results *@
                    <div class="row results-container">

                    </div>
                </div>
            </div>
        </div>

        @* Footer *@
        <div id="footer" class="container-fluid">
            <p>
                Gauge Chart made with <a href="http://www.amcharts.com/">AmCharts</a>
            </p>
        </div>

        @* Google Analytics *@
        @if(webpage.isProdMode) {
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-66404682-1', 'auto');
              ga('send', 'pageview');
            </script>
        }
    </body>
</html>
