@import service.BaseUserService.Rights
@(webpage: WebPage)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>ObViz</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1" />
        <meta name="description" content="Read opinions in app reviews and get the app you want" />
        <meta name="author" content="ObViz" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @* Favicon *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @* Stylesheets *@
        <link href='http://fonts.googleapis.com/css?family=Dosis:500,300,700|Oxygen:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("slick/slick.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("slick/slick-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/jquery.mCustomScrollbar.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/video-js.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/design.css")">

        @* Javascript libraries *@
        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/gaugechart.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("slick/slick.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.mCustomScrollbar.min.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <style type="text/css">
            @if(webpage.getUser != null) {
                @webpage.getUser.right match {
                    case Rights.ADMIN => {
                        .bad-opinion {
                            font-weight: bold;
                            color: #DE2BCF;
                        }
                    }

                    case _ => {}
                }
            } else {

            }
        </style>

    </head>
    <body>

        @* Header *@
        <div id="header" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="@routes.Application.index()">
                        <img src="@routes.Assets.versioned("images/header_logo.png")" alt="LOGO" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div id="header-search-bar">
                        <a href="https://play.google.com/store/apps/details?id=com.obviz.review">
                            <img height="45" alt="Get it on Google Play"
                                src="@routes.Assets.versioned("images/get_app.png")" />
                        </a>

                        <form method="POST" action="@routes.Application.postSearch()">
                            <div class="wrapper-input">
                                <input type="text" name="query" placeholder="Search for apps..." />
                                <button type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* Body *@
        <div id="body" class="container">

            @* Breadcrumb *@
            @if(webpage.getBreadcrumb.size() > 0) {
                <ol class="breadcrumb">
                    @for(path <- webpage.getBreadcrumb) {
                        @if(path.getPath != null) {
                            <li><a href="@path.getPath">@path.getTitle</a></li>
                        } else {
                            <li>@path.getTitle</li>
                        }
                    }
                </ol>
            }

            <div id="body-content">
                @content
            </div>
        </div>

        @* Footer *@
        <div id="footer" class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <ul>
                        <li><a href="@routes.Application.contact()"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                        <li><a href="@routes.Application.disclaimer()"><span class="glyphicon glyphicon-info-sign"></span> Disclaimer</a></li>
                        @if(webpage.isAdmin) {
                            <li><a href="@routes.Administration.logs()"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
                            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">Logout</a></li>
                        }
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p>
                        Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                        from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
                        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                    </p>
                </div>
            </div>
        </div>

        @* Google Analytics *@
        @if(webpage.isProdMode) {
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-66404682-1', 'auto');
              ga('send', 'pageview');
            </script>
        }
    </body>
</html>
