@()(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>ObViz</title>

        <meta charset="utf-8" />
        <meta name="description" content="Read opinions in app reviews and get the app you want" />
        <meta name="author" content="ObViz" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @* Favicon *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @* Stylesheets *@
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/less/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("slick/slick.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("slick/slick-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/design.css")">

        @* Javascript libraries *@
        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/gauge.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("slick/slick.min.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img style="height: 100%;" src="@routes.Assets.versioned("images/favicon.png")" alt="" />
                    </a>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-lg-2" id="left-menu">
                    <ul>
                        <li>
                            <span>@views.html.icons.icons(PlayApp.Category.GAME_ADVENTURE)</span> Games
                        </li>
                        <li>
                            <span>@views.html.icons.icons(PlayApp.Category.COMMUNICATION)</span> Communication
                        </li>
                        <li>
                            <span>@views.html.icons.icons(PlayApp.Category.SOCIAL)</span> Social
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2" id="body-content">
                    @content
                </div>
            </div>
        </div>
    </body>
</html>
